# DEPENDENCY MANAGERS - COMPOSER, NPM / YARN
/vendor/
/components/
/node_modules/

# GIT
!**/.gitkeep

# STORAGE
/storage/**

# LOGS
/logs/**

# DEV -.-
/.idea

# ENV
/.env

# TESTS ;-)
/tests/_output/*
/tests/acceptance.suite.yml
/tests/_support/_generated/*
/codeception.yml

# NPM DEBUG
/npm-debug.log
