# COMPOSER
vendor
components

# BOWER
bower_components

# WWW
www/cache/css/*
www/cache/js/*
www/cache/img/*
www/uploads/*

# GIT
!**/.gitkeep

# CACHE
cache/*/*

# LOGS
logs

# DEV -.-
sublime
.idea
phinx.yml