# COMPOSER
/vendor/
/components/

# BOWER
/bower_components

# WWW
/www/cache/
/www/uploads/

# CACHE
/cache/*/*

# APP UPLOADS
/app/door/www/uploads/

# LOGS
logs

# DEV -.-
sublime
.idea
phinx.yml