# disable directory browsing
Options All -Indexes

# enable mod rewrite
RewriteEngine On

# private rewrite
RewriteCond %{REQUEST_FILENAME} \.(js|css|less|jpg|jpe?g|png|gif|eot|otf|svg|woff|ttf|pdf)$ [NC]
RewriteCond %{REQUEST_FILENAME} -f [NC]
RewriteRule ^ - [L]

# default handler # index.php, dev.php
RewriteRule ^(.*)$ www/$1 [L]